<h1>Question Page</h1>

<div class="form-container">
    <form> 
        <div class="questionForm">       
            <div class="form-group">
                <label for="question">Question</label>
                <input type="text" id="question" class="form-control" ng-model="vm.question" required />
            </div>        
            <div class="form-group">
                <button class="btn btn-primary" ng-click="vm.createQuestion()">Create</button>
            </div>
        </div>
    </form>
</div>