<h1>{{vm.title}}</h1>


<!-- HEADER -->
<div class="form-container">
    <form> 
        <div class="questionForm">       
            <div class="form-group inputQuestion">
                <label for="question">Question</label>
                <input type="text" id="question" class="form-control" ng-model="vm.question" required />
            </div>        
            <div class="form-group">
                <button class="btn btn-primary" ng-click="vm.createQuestion()">Create</button>
            </div>
        </div>
    </form>
</div>

<!-- BODY -->
<div class="panel panel-default">
    <div class="panel-body">
        Questions
    </div>
    <ul class="list-group" ng-repeat="(key, value) in vm.questions">
        <li class="list-group-item">{{value}}</li>            
    </ul>
</div>
